mixin ClubEventHeader
  +Section#ClubEvent
    .row.flex-center
      .col-12.mb-2.mb-lg-5.text-center
        h2.fs-3.fs-sm-4
          span.text-decoration-underline(data-zanim-xs!={delay: 0.3} data-zanim-trigger='scroll') It's Club Schedule
    
    .calendar-container
      #calendar