
extends ../layouts/LayoutTheme
include ../mixins/homes/EventDetail

prepend styles
  link(href=`${CWD}vendors/swiper/swiper-bundle.min.css`, rel='stylesheet')

prepend scripts
  script(src=`${CWD}vendors/swiper/swiper-bundle.min.js`)    
  script(src=`${CWD}vendors/bigpicture/BigPicture.js`)
  script(src=`${CWD}vendors/rellax/rellax.min.js`) 

block beforeMainContent
  +FancyNav(false, false, 'bg-black')

append mainContent  
  +EventDetail